.Rproj.user
.Rhistory
.RData
.Ruserdata
*.docx
ms_cache/
supp_cache/
ms_files/
photos/
supp_files/
output/figures/Figure3.ai
photos for figs/
ms_refs.txt
supp_refs.txt
output/figures/Figure1.ai
output/figures/Figure1_ms.ai
output/figures/Figure2_ms.ai
refs2.bib
supp_refs.enl
ms_refs.enl
photos_for_figs/
references/
supp.html
SVL.R
colour change.R
diffs.R
Display_bird_diff_calculations.xlsx
SVL.csv
SVL2.csv
biblio_cache
biblio_files
ms_RS_mw_dsf.docx
supp_RS_mw_dsf
Science_submitted2.pdf
abm0862_CombinedPDF_v2.pdf
abm0862_SupplementalMaterial_v1.pdf
ms_Science2.pdf
supp_Science2.pdf
Submitted\ to\ Nature/
ms_Nature_cache/
ms_Nature_files/
ms_Nature_cache/docx/
supp_Nature_cache/
supp_Nature_files/
ms_Sci_Adv_cache
ms_Sci_Adv_files
supp_Sci_Adv_cache
supp_Sci_Adv_files
