.Rproj.user
.Rhistory
.RData
.Ruserdata
*.docx
ms_cache/
supp_cache/
ms_files/
photos/
supp_files/
output/figures/Figure3.ai
photos for figs/
ms_refs.txt
supp_refs.txt
output/figures/Figure1.ai
output/figures/Figure1_ms.ai
output/figures/Figure2_ms.ai
refs2.bib
supp_refs.enl
ms_refs.enl
photos_for_figs/
references/
supp.html
